# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environment and model files
.env
*.onnx
*.onnx.json

# Audio and session data
sessions/
*.wav

# Logs
*.log

# OS files
.DS_Store

recordings/
en_GB-alba-medium.onnx
en_GB-alba-medium.onnx.json

*.pt

# smart_turn model files
smart-turn-v2/
smart_turn_v2/
src/server/config/authorized_users.json
logs/*
