DAILY_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
BOT_IMPLEMENTATION='openai' # Must be 'openai', 'openai_realtime_beta', 'gemini' or 'opensource'
TRANSPORT_IMPLEMENTATION='daily' # Must be 'daily' or 'small_webrtc'