python-dotenv
fastapi[all]
uvicorn
aiortc
opencv-python
pipecat-ai[google,elevenlabs,silero,webrtc,whisper] @ git+https://github.com/pipecat-ai/pipecat@v0.0.74
pipecat-ai-small-webrtc-prebuilt
aiofiles
noisereduce
transformers
torch
torchvision
ultralytics
deepface
tf-keras
optimum[onnxruntime]
senselab[audio]
pipecat-ai-flows
loguru
aiohttp
uvloop
starlette